{% extends "layout.pug" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
<h1 style="text-align:center; ">Login</h1>
<div class="row">
  <div class="col-sm-3 col-sm-offset-3"></div>
  <div class="col-sm-6 col-sm-offset-3">
    <form method="post" action=".">
      {% csrf_token %} 
      {{ form|crispy }}	
      <input class='btn btn-block btn-primary' style="text-align-last: center;" type="submit" class="btn btn-primary" value="{% trans 'Log In' %}" />
      <input style="text-align-last: center;" type="hidden" name="next" value="{{ next }}" />
    </form>  
      <p style="text-align-last: center;"> <a href="{% url 'auth_password_reset' %}">{% trans "Forgot account?" %}</a></p>
      <p style="text-align-last: center">{% trans "Do not have an account" %}? <a href="{% url 'registration_register' %}">{% trans " Sign up" %}</a></p>
   </div>
 </div>
{% endblock %}