doctype html
| {% load staticfiles %}
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
    meta(name='description', content='')
    meta(name='author', content='')
    |     {% include 'head_css.pug' %}       
    title
  body
    | {% include 'navbar.pug' %}
    .container
      .starter-template
        h2(style='color: #337ab7') {{ titulo }}
        |         {% block content %}
        |         {% endblock %}
  script(src="{% static 'public/bundle.js' %}")
